.container 
{
	width: 100%;
	height: 100%;
	background-color: #f1ebeb;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.arts
{
    width: 100%;
	height: 60%;
	background-color: #ddacac;
	display: flex;
	justify-content: space-evenly;
}

.art
{
	background-color: #4da378;
	margin: 60px,  auto;
}

#Miftakhov
{
    width: 350px;
	height: 100%;	   
}

#Insar
{
    width: 300px;
	   height: 100%;	
}

#Mansurovich
{
	   width: 350px;
	   height: 100%;
}
