.arts
{
    width: 630px;
    margin: 200px auto;
}

.art
{
	background-color: #919191;
}

#Kyle
{
    width: 148px;
	   height: 190px;	   
}

#Eric
{
    width: 202px;
	   height: 190px;	
}

#Kenny
{
	   width: 140px;
	   height: 190px;
}
